/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@media (min-width: 30rem) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

@media only screen and (min-width: 768px) {
  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
}

/* blockquotes */
blockquote {
  background: transparent;
  font-style: italic;
  padding: 0;
  text-align: center;

  cite {
    display: block;
    font-size: 18px;
    margin-top: 17px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  &.is-large.wp-block-quote {
    padding: 0;

    cite {
      text-align: center;
    }
  }

  &.wp-block-pullquote {
    border-top: 2px solid $brand-primary;
    border-bottom: 2px solid $brand-primary;
  }
}

.wp-block-button {
  text-align: center;

  .wp-block-button__link {
    @extend %button;
  }
}

%button {
  background: $brand-primary;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: auto;
  -webkit-appearance: none;

  &:hover {
    color: $brand-white;
    text-decoration: none;
  }
}

/** Text meant only for screen readers */
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: $brand-black;
  background: $brand-white;
}
